node_modules/
staticfiles/
staticfiles/
dashboard/__pycache__
inventory/__pycache__
dashboard/migrations/__pycache__/
ecommerce/__pycache__/
theme/__pycache__/
inventory/migrations/__pycache__/
shoping_carts/__pycache__/
shoping_carts/migrations/__pycache__/
