<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Nepali Clothing</title>
</head>
<body>
<div class="nav-bar">
    <div class="nav-content">
        <div class="nav-brand">
            <a href="#">Nepali Clothing</a>
        </div>
        <nav class="navigation">
            <div class="nav-link-wrapper">
                <a href="#">Home</a>
            </div>
            <div class="nav-link-wrapper">
                <a href="#">T-Shirts</a>
            </div>
            <div class="nav-link-wrapper">
                <a><i class="fa fa-cart-plus"></i></a>
            </div>
        </nav>
    </div>
</div>
</body>
</html>

