{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'inventory/style.css' %}">
  {% tailwind_css %}
  <title>Nepali Clothing</title>

</head>
<body>
<div>
<header>
  <div class="navbar bg-black-900">
    <div class="flex-1 nav-brand">
      <a class="btn btn-ghost font-thin">Nepali Clothing</a>
    </div>
    <div class="nav-list">
      <ul class="flex">
        <li class="nav-item"><a href="#">Home</a></li>
        <li class="nav-item"><a href="#">T-Shirt</a></li>
        <li class="nav-item"><a href="#">About us</a></li>
        <li class="nav-item"><a href="#">Contact us</a> </li>
      </ul>
    </div>
    <div class="flex-none">
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost btn-square">
          <div class="indicator">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" /></svg>
            <span class="badge badge-sm indicator-item">8</span>
          </div>
        </label>
        <div tabindex="0" class="mt-3 z-[1] card card-compact dropdown-content w-52 bg-black-900 shadow">
          <div class="card-body">
            <span class="font-bold text-lg">8 Items</span>
            <span class="text-info">Subtotal: $999</span>
            <div class="card-actions">
              <button class="btn btn-primary btn-block btn-square">View cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
</div>
<div>
  <footer class="footer p-10 bg-base-300 text-base-content">
    <nav>
      <header class="footer-title" >Nepali Clothing</header>
      <a class="link link-hover" style="color: #ede3e3;">About us</a>
      <a class="link link-hover" style="color: #ede3e3;">Contact</a>
      <a class="link link-hover" style="color: #ede3e3;">Home</a>
    </nav>
    <nav>
      <header class="footer-title">Social</header>
      <div class="grid grid-flow-col gap-4">
        <a href="#">
          <i class="fa fa-twitter fa-lg" style="color: #ede3e3;"></i>
        </a>
        <a href="#">
          <i class="fa fa-youtube fa-lg" style="color: #ede3e3;"></i>
        </a>
        <a href="#">
          <i class="fa fa-facebook fa-lg" style="color: #ede3e3;"></i>

        </a>
        <!-- Instagram Icon -->
        <a href="#">
          <i class="fa fa-instagram fa-lg" style="color: #ede3e3;"></i>
        </a>
      </div>
    </nav>
  </footer>
</div>



</body>
</html>

