
{% extends 'inventory/base.html' %}

{% block content %}
  {% load static %}
  {% load static tailwind_tags %}

    <section class="section">
      <h3 class="section-title">T-Shirt</h3>
      <div class="item-list">-6
        <div class="product-list-item">
          <div class="product-list-item-img-wrap">
            <img src="{% static '/inventory/images/tshirt-img.png' %}" alt="T-Shirt" class="product-list-images">
          </div>
          <div class="item-list-content-warp">
            <h2 class="item-list-title">Plain Black T-Shirt</h2>
            <div class="product-list-price">15$</div>
            <p class="paragraph">Elevate your style with our premium cotton blend T-shirt, where comfort meets fashion. Embrace individuality with our unique design, making a bold statement that effortlessly stands out in any crowd.</p>
            <form class="item-add-to-cart">
              <input type="number" class="item-count">
              <input type="submit" class="item-submit button" value="Add to Cart">
              <a href="{% static '/templates/inventory/checkout.html' %}" class="item-submit button button-filled">Buy Now</a>
            </form>
          </div>
        </div>
      </div>
    </section>
    
{% endblock %}
