{% extends 'theme/base.html' %}
{% block checkout %}
<div class=" p-40 flex items-center justify-center">
    <h1 class="text-4xl header-style">Checkout Process</h1>
</div>

<div class="checkout-body">
    <div class="checkout-wrapper">
        <div class="order-steps-wrapper">
            <div class="order-step-item">
                <div class="order-step-title">
                    <div class="checkout-section-title">1.Summary</div>
                </div>
                <div class="order-step-content">
                    <div class="order-items-wrapper">
                        <fieldset class="order-items-content">
                            {% if cart_items %}
                                {% for item in cart_items %}
                                    <div class="order-product">
                                        <div class="order-product-media">
                                            {% for media in item.media_info %}
                                            <img src="{{ media.url }}" alt="{{ media.alt_text }}" class="cart-img">
                                            {% endfor %}
                                        </div>
                                        <div class="order-product-details">
                                            <h2>{{ item.product_name }}</h2>
                                            <p>Quantity: {{ item.quantity }}</p>
                                        </div>
                                        <div class="order-product-price">
                                            <p>Rs.{{ item.retail_price }}</p>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No items in cart</p>
                            {% endif %}
                        </fieldset>                            
                    </div>
                </div>
            </div>
            <div class="order-step-item">
                <div class="order-step-content">
                    <form class="customer-info" method="POST" action="?step=buy">
                        {% csrf_token %}
                        <fieldset class="items">
                            <label class="text-field-label">EMAIL *
                                <input class="text-field mt-2" type="email" name="email" required
                                       {% if step == 'buy' %}disabled value="{{ form_data.email }}"{% endif %}>
                            </label>
                            <label class="text-field-label">FULL NAME *
                                <input class="text-field mt-2" type="text" name="name" required
                                       {% if step == 'buy' %}disabled value="{{ form_data.name }}"{% endif %}>
                            </label>
                            <label class="text-field-label">PHONE NUMBER *
                                <input class="text-field mt-2" type="tel" name="phone" required
                                       {% if step == 'buy' %}disabled value="{{ form_data.phone }}"{% endif %}>
                            </label>
                            <label class="text-field-label">STREET ADDRESS *
                                <input class="text-field mt-2" type="text" name="address" required
                                       {% if step == 'buy' %}disabled value="{{ form_data.street }}"{% endif %}>
                            </label>
                            <div class=".check-out-row">
                                <div class="">
                                    <label class="text-field-label">CITY *</label>
                                    <label for="citySelect"></label><select class="text-field" name="city" id="citySelect" required
                                                                            {% if step == 'buy' %}disabled{% endif %}>
                                    <option value="">city</option>
                                    <option value="Bagmati" {% if form_data.city == 'Bagmati' %}selected{% endif %}>Kathmandu</option>
                                    <option value="Banapa" {% if form_data.city == 'Banapa' %}selected{% endif %}>Banapa</option>
                                    <option value="Dhulikal" {% if form_data.city == 'Dhulikal' %}selected{% endif %}>Dhulikal</option>
                                    <option value="Kathmandu" {% if form_data.city == 'Kathmandu' %}selected{% endif %}>Kathmandu</option>
                                    </select>
                                </div>
                                <div class="">
                                    <label class="text-field-label">STATE/PROVINCE *</label>
                                    <label for="stateSelect"></label><select class="text-field" name="state" id="stateSelect" required
                                                                             {% if step == 'buy' %}disabled{% endif %}>
                                    <option value="">Select State/Province</option>
                                    <option value="Bagmati" {% if form_data.state == 'Bagmati' %}selected{% endif %}>Bagmati</option>
                                    </select>
                                </div>
                                <div class="">
                                    <label class="text-field-label">ZIP/POSTAL CODE *</label>
                                    <label>
                                        <input class="text-field mt-2" type="text" name="zip" required
                                               {% if step == 'buy' %}disabled value="{{ form_data.zip_code }}"{% endif %}>
                                    </label>
                                </div>
                            </div>
                            <label class="text-field-label">COUNTRY * {{ cust_id }}</label>
                            <label>
                                <input class="text-field mt-2" type="text" name="country" required
                                       {% if step == 'buy' %}disabled value="{{ form_data.country }}"{% endif %}>
                            </label>
                            {% if cust_id is None %}
                            <input type="submit" data-loading-text="submitting..." class="item-submit btn-design" value="submit">
                            {% endif %}
                        </fieldset>
                    </form>
                </div>                    
            </div>
            <div class="order-step-item order-step-item-last text-center">
                <div class="order-step-title"><div class="checkout-section-title">3.Payment</div><div>• Required</div></div>
                <div class="order-step-content">
                    <ul class="steps steps-vertical lg:steps-horizontal">
                        {% if step == 'buy' %}
                            <li class="step step-primary" id="submitted">Register</li>
                        {% else %}
                            <li class="step" id="submitted">Register</li>
                        {% endif %}
                        <li class="step">Place Order</li>
                        <li class="step">Ship</li>
                        <li class="step">Delivered</li>
                    </ul>
                </div>                    
            </div>
        </div>
        <div class="w-full md:w-1/4 sticky top-0 mt-4 md:mt-10 md:ml-4 p-4 border border-black rounded-none">
            <div class="border-b border-black pb-4 mb-4">
                <div class="text-lg">Order Summary</div>
            </div>
            
            {% if cart_items %}
                {% for item in cart_items %}
                    <div class="border-b border-black pb-4 mb-4">
                        <div class="text-lg">{{ item.product_name }}</div>
                    </div>
                {% endfor %}
                <div class="border-b border-black pb-4 mb-4">
                    <div class="text-lg">Total</div>
                    <p class="mt-2">Rs. {{ total_price }}</p>
                </div>
            {% else %}
                <div class="border-b border-black pb-4 mb-4">
                    <div class="text-lg">Poster</div>
                    <img src="https://via.placeholder.com/150" alt="Poster Image" class="w-full h-auto mt-2">
                </div>
                <div class="border-b border-black pb-4 mb-4">
                    <div class="text-lg">Total</div>
                    <p class="mt-2">Rs. XXXX</p>
                </div>
            {% endif %}
            
            <div class="text-center">
                <form method="POST" action="{% url 'inventory:order_info' %}">
                    {% csrf_token %}
                    <input type="hidden" name="cust_id" value="{{ cust_id }}">
                    <button type="submit" class="btn btn-primary rounded-none" {% if cust_id is None %}disabled{% endif %}>Place Order</button>
                </form>                    
            </div>
        </div>      
    </div>
</div>

{% endblock %}