{% extends 'dashboard/index.html' %}

{% block product %}

<div class="container mx-auto px-4 py-8 shadow-2xl my-40">
    <h1 class="text-3xl font-bold mb-6">Product List</h1>

    <div class="overflow-x-auto">
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th class="bg-primary text-primary-content">Product Name</th>
                    <th class="bg-primary text-primary-content">Brand</th>
                    <th class="bg-primary text-primary-content">Product Price</th>
                    <th class="bg-primary text-primary-content">Product Description</th>
                    <th class="bg-primary text-primary-content">Added Date</th>
                    <th class="bg-primary text-primary-content">Active/Inactive</th>
                    <th class="bg-primary text-primary-content">Product Type</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr class="hover:bg-gray-100">
                    <td>{{ item.product_name }}</td>
                    <td>{{ item.brand }}</td>
                    <td>{{ item.product_price }}</td>
                    <td>{{ item.product_description }}</td>
                    <td>{{ item.added_date }}</td>
                    <td>{{ item.active_status }}</td>
                    <td>{{ item.product_type }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="flex justify-center space-x-4 mt-10">
            <a href="{% url 'product_form' %}">
                <button class="btn btn-primary">Add Product</button>
            </a>
        </div>
    </div>

    <div class="flex justify-center mt-6">
        <nav aria-label="Pagination">
            <ul class="flex space-x-2">
                {% if page_obj.has_previous%}
                <li>
                    <a href="#" class="btn btn-primary">Previous</a>
                </li>
                {% endif %}
                       {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <li>
                            <a href="#" class="btn">1</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="#" class="btn btn-active">2</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li>
                        <a href="#" class="btn btn-primary">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div> 
</div>

{% endblock %}