{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}
</head>
<body>
<div class="mx-auto max-w-7xl p-4 md:p-6 xl:p-10">
    <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
        <h2 class="text-2xl font-bold text-gray-900 dark:text-white">
            Sign In
        </h2>
        <nav>
            <ol class="flex items-center gap-2 text-gray-600 dark:text-gray-400">
                <li class="font-medium text-primary">Sign In</li>
            </ol>
        </nav>
    </div>
    <!-- ====== Forms Section Start ====== -->
    <div class="rounded-lg border border-gray-200 bg-white shadow-lg dark:border-gray-700 dark:bg-gray-800">
        <div class="flex flex-wrap">
            <div class="hidden w-full xl:block xl:w-1/2">
                <div class="px-8 py-10 text-center">
                    <p class="font-medium text-gray-600 dark:text-gray-400">
                        Handle the Dashboard
                    </p>
                </div>
            </div>
            <div class="w-full border-t xl:w-1/2 xl:border-t-0 xl:border-l border-gray-200 dark:border-gray-700">
                <div class="p-6 sm:p-12 xl:p-16">
                    <h2 class="mb-6 text-2xl font-bold text-gray-900 dark:text-white sm:text-3xl">
                        Sign In to Dashboard
                    </h2>
                    <form method="post" action="{% url 'signin' %}">
                        {% csrf_token %}
                        <div class="mb-4">
                            <label class="mb-2 block font-medium text-gray-700 dark:text-gray-300">User Name</label>
                            <div class="relative">
                                <input name="username" type="text" placeholder="Enter username"
                                       class="input input-bordered w-full rounded-lg bg-transparent py-4 pl-6 pr-10 dark:bg-gray-900 dark:border-gray-700">
                            </div>
                        </div>
                        <div class="mb-6">
                            <label class="mb-2 block font-medium text-gray-700 dark:text-gray-300">Password</label>
                            <div class="relative">
                                <input name="password" type="password" placeholder="6+ Characters, 1 Capital letter"
                                       class="input input-bordered w-full rounded-lg bg-transparent py-4 pl-6 pr-10 dark:bg-gray-900 dark:border-gray-700">
                            </div>
                        </div>
                        <div id="result" class="mb-4"></div> <!-- Result display -->
                        <div class="mb-5">
                            <button type="submit" class="btn btn-primary w-full cursor-pointer rounded-lg bg-primary text-white hover:bg-primary-focus">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- ====== Forms Section End ====== -->
</div>
</body>
</html>
